:root {
    --very-dark-cyan: hsl(183, 100%, 15%);
    --strong-cyan: hsl(172, 67%, 45%);
    --dark-grayish-cyan : hsl(186, 14%, 43%);
    --Grayish-cyan : hsl(184, 14%, 56%);
    --light-grayish-cyan : hsl(185, 41%, 84%);
    --Very-light-grayish-cyan : hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

}

body {
    font-family: 'Space mono', sans-serif;
    font-weight: 700;
    background-color: var(--light-grayish-cyan);
    text-align: center;
}

.app__field {
    display: inline-block;
}

.calculator__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 15px 15px;
    border-radius: 10px;
}

.tip__settings {
    width: 240px;
    color: var(--dark-grayish-cyan);
    font-size: 24px;
}

.bill {
    padding: 15px 0;
}

.tip__definitions {
    padding: 10px 0;
}

.field__description, .sub__text {
    font-size: 10px;
}

.bill__field, .people__field {
    width: 230px;
    background-color: var(--Very-light-grayish-cyan);
    text-align: right;
    border: none;
}

.bill__field {
    background-image: url(../img/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.field__description {
    text-align: left;
}

.porcentagem__tip {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 1fr 1fr;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}

.opcao__porcentagem {
    list-style-type: none;
    background-color:  var(--very-dark-cyan);
    color: var(--white);
    margin: 2px;
    font-size: 15px;
    padding: 8px 0;
    border-radius: 5px;
}

.opcao__user {
    border: none;
    box-shadow: 0;
    outline: 0;
    background-color: var(--very-dark-cyan);
    padding: 0;
    width: 50px;
    text-align: right;
    color: var(--white);
}

.opcao__user:focus {
    outline: 0;
    box-shadow: 0;
}

.opcao__user::placeholder {
    color: aliceblue;
    text-align: center;
    font-family: 'Space mono', sans-serif;
}

.field__description, .sub__tex {
    grid-row: span 1;
}

.people__field {
    grid-column: span 2;
    background-image: url(../img/icon-person.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.sub__text {
    text-align: left;
}

.tip__result {
    background-color: var(--very-dark-cyan);
    border-radius: 10px;
    width: 240px;
}

.container__result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text__container, .result__values {
    padding: 15px;
}

.button__reset {
    background-color: hsl(183, 100%, 12%);
    border: none;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 2px;
    width: 200px;
    padding: 5px 0;
}